@charset "utf-8";
* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	line-height: 1.7; /* 適時変更 */
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; /* 適時変更 */
	font-size: 1.4rem; /* 適時変更 */
	color: #143263; /* 適時変更 */
	position: relative;
}
img {
	vertical-align: bottom;
}
/*--------------------

all

---------------------*/
a:link{
	color: #0b1b36;
	text-decoration: none;
	display: block;
}
.btn01 a:hover{
	color: #143263;
	border: 1px solid #143263;
	background-color: #ffffff;
}
.btn02 a:hover{
	color: #30aefe;
	border: 1px solid #30aefe;
	background-color: #ffffff;
	border-radius: 5px;
}
.section02 .sectionInner dl dt:hover{
	opacity: 0.5;
}
#headWrap,.modalWindow,.sectionInner,#footerList,#footerUnderList{
	width: 1000px;
	margin: 0 auto; 
}
p strong,h5{
	font-weight: bold;
	font-size: 1.6rem;
}
/*--------------------

header

---------------------*/
#fix{
	position: fixed;
	margin-right: 25px;
	top: 70px;
	right: 0px;
	z-index: 1;
}
#fix li:nth-of-type(n+2){
	margin-top: 7px;
}
#onHead{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin: 19px 10px;
}
#logo{
	display: -webkit-flex;
	display: flex;
}
#headList{
	display: -webkit-flex;
	display: flex;
	margin-top: 10px;
}
#headList li:nth-of-type(n+2){
	margin-left: 30px;
}
#logoText{
	margin: 10px 0 0 15px;
}
nav{
	margin: 20px 0 34px;
}
#gNav{
	display: -webkit-flex;
	display: flex;
	border: 1px solid #30aefe;
}
#gNav li{
	width: 200px;
	text-align: center;
}
#gNav li:nth-of-type(n+2){
	border-left: 1px solid #30aefe;
}
/*//////////////モーダルウィンドウ/////*/
header{
	position: relative;
}
.modalWindow{
	display: none;
	z-index: 2;
	position: fixed;
	background-color: #ffffff;
	top: 106px;
	left: 27%;
	width: 882px;
	border: 15px solid #2d3436;
	border-radius: 25px;
	padding: 15px 153px 80px;
}
.modalBack{
	display: none;
	background-color: #2d3436;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	height: 120%;
	width: 100%;
	opacity: 0.9;
}
.tellArea{
	display: -webkit-flex;
	display: flex;
}
.center{
	margin-top: 18px;
}
.tellNo{
	font-size: 3rem;
	color: #47b4fe;
	margin-left: 16px;
}
.textCenter{
	text-align: center;
	margin-bottom: 17px;
}
.close{
	position: relative;
}
.close::after,.close::before{
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-left: 1px solid #979797;
	border-bottom: 1px solid #979797;
}
.close::after{
	bottom:-60px;
	right: -136px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close::before{
	bottom: -60px;
	right: -127px;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
.close span{
	position: relative;
}
.close span::after{
	content: "";
	display: block;
	position: absolute;
	bottom: -70px;
	right: -687px;
	width: 25px;
	height: 25px;
	border: 1px solid #d0d0d0;
	border-radius: 100px;
}
/*--------------------

main

---------------------*/
.productWrap{
	display: -webkit-flex;
	display: flex;
	margin-left: 77px;
}
/*---------
section01 製品情報
----------*/
/*///////見出し//////*/
h2{
text-align: center;
padding: 42px 0 50px;
}
.h201{
background: -webkit-linear-gradient(top, #eefcfe 0%,#ffffff 100%); 
background: linear-gradient(to bottom, #eefcfe 0%,#ffffff 100%);  
}
/*///////文字たち////////////*/
.textRight{
	width: 440px;
	margin-left: 113px;
}
.productWrap:nth-of-type(n+2){
	margin-top: 70px;
}
.h3Wrap{
	display: -webkit-flex;
	display: flex;
	margin-top: 7px;
	margin-left: 6px;
}
h3{
	margin: 6px 0 0 17px;
	font-size: 1.8rem;
}
/*//////青とピンクのアイコン*/
span{
	font-size: 1.2rem;
	color: #ffffff;
}
.blue{
	background-color: #4781dd;
	padding: 0 13px;
	margin-left: -5px;
}
.pink{
	background-color: #ef8cef;
	padding: 0 10px;
}
/*///////*/
.strongText{
	margin: 24px 0 7px;
}
.btn01{
	width: 180px;
	margin: 23px auto 0;
	background-color: #143263;
}
.btn01 a{
	border: 1px solid #143263;
	color: #ffffff;
	text-align: center;
	position: relative;
	padding: 6px 0;
}
.btn01 a::after{
	content: ">";
	display: block;
	position: absolute;
	top: 6px;
	right: 14px;
}
/*コンタクト画像*/
.productWrap>figure{
	margin-top: 50px;
}
.productWrap figure figcaption{
	margin-top: 12px;
}
/*--------
section02 オススメコンテンツ
----------*/
.section02{
	background-color: #f2f9fe; 
	margin-top: 60px;
	padding-bottom: 30px;
}
.section02 .sectionInner dl:nth-of-type(n+2){
	margin-top: 30px;
}
/*////////アコーディオン矢印////////////*/
.section02 .sectionInner dl dt{
	position: relative;
}
.section02 .sectionInner .adn03 dt.ac::after,
.section02 .sectionInner .adn01 dt::after,
.section02 .sectionInner .adn02 dt::after{
  content: "";
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 4px #79869b;
  border-right: solid 4px #79869b;
  -webkit-transform: rotate(134deg);
  transform: rotate(134deg);
  position: absolute;
  top:44px;
  right: 54px;
}
.section02 .sectionInner .adn03 dt::after,
.section02 .sectionInner .adn01 dt.ac::after,
.section02 .sectionInner .adn02 dt.ac::after{
  content: "";
  width: 12px;
  height: 12px;
  border: 0px;
  border-top: solid 4px #79869b;
  border-right: solid 4px #79869b;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top:44px;
  right: 54px;
}
/*///////ここまで　アコーディオン矢印/////////////*/
.section02 .sectionInner dl dd{
	background-color: #ffffff;
	padding: 28px 90px 61px ;
}
/*//////アコーディオンの中身///////*/
/*リンク*/
.listEye{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: 30px;
}
.listEye li{
	position: relative;
}
.listEye li::after{
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 6px;
	left: -17px;
	border-style: solid;
	border-width: 3px 4px 0 4px;
	border-color: #ffffff transparent transparent transparent;
}
.listEye li::before{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 7px;
	left: -17px;
	border-style: solid;
	border-width: 8px 4px 0 4px;
	border-color: #143263 transparent transparent transparent;
}
.listEye li:nth-of-type(n+2){
	margin-left: 100px;
}
/*///////アコーディオンのsection///////*/
h4{
	font-size: 1.8rem;
	padding-bottom: 10px;
	font-weight: bold;
	color: #30aefe;
	text-align: center;
	background: url("../images/index_bg01.png") no-repeat bottom 0px center;
	margin: 46px 0 30px;
}
.textIntro{
	margin-bottom: 40px;
}
/*↓女性*/
.troubleGirl{
	margin: 17px 0 40px 19px;
}
.descriptionArea{
	margin: 0 auto;
	width: 590px;
}
.descriptionText{
	text-align: left;
}
.explanatoryText{
	margin: 12px 0 34px;
}
/*ボタン周り*/
.btnArea{
	text-align: center;
	margin-bottom: 81px;
}
.imgGirl{
	position: relative;
}
.imgGirl::after{
	content: "";
	position: absolute;
	display: block;
	background: url("../images/index_im08.jpg") no-repeat 0px 0px/100px 149px;
	bottom: -61px;
	right: -90px;
	width: 100px;
	height: 149px;
}
.troubleBoy{
	margin-bottom: 30px;
	margin-left: 8px;
}
.imgBoy{
	position: relative;
}
.imgBoy::after{
	content: "";
	position: absolute;
	display: block;
	background: url("../images/index_im09.jpg") no-repeat 0px 0px/136px 149px;
	bottom: -63px;
	right: -117px;
	width: 136px;
	height: 149px;
}
.btn02{
	margin: 0 auto;
	background-color: #30aefe;
	width: 354px;
	border-radius: 5px;
	margin-top: 10px;
}
.btn02 a{
	padding: 16px 26px 17px;
	border-radius: 5px;
	color: #ffffff;
	border: 1px solid #30aefe;
}
/*h5以降*/
h5{
	position: relative;
	margin: 30px 32px 20px;
	font-size: 1.6rem;
}
h5::before{
	content: "";
	position: absolute;
	display: block;
	width: 23px;
	height: 19px;
	top: 0px;
	left: -30px;
	background: url("../images/index_ic03.png") no-repeat 0px 0px/23px 19px;
}
.goodsWrap{
	display: -webkit-flex;
	display: flex;
	margin: 50px 0 35px;
}
.goods{
	display: -webkit-flex;
	display: flex;
}
.goods:nth-of-type(n+2){
	margin-left: 63px;
}
.goodsText{
	font-size: 1.2rem;
	margin-left: 13px;
}
.goodsText>p{
	margin-bottom: 7px;
}
.seeMore{
	text-align: right;
	position: relative;
	margin-right: 22px;
}
.seeMore::after{
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 10px;
	left: 553px;
	border-style: solid;
	border-width: 2px 0px 2px 4px;
	border-color: transparent transparent transparent #ffffff ;
}
.seeMore::before{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 8px;
	left: 554px;
	border-style: solid;
	border-width: 4px 0 4px 8px;
	border-color: transparent transparent transparent #30aefe;
}
/*--------------------
footer
---------------------*/
footer{
	margin: 29px 0 52px;
}
#footerListWrap{
	padding: 25px 0 70px;
	background-color: #f9feff;
	border-bottom: 3px solid #30aefe;
}
#footerList{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
#footerList li{
	width: 184px;
	font-size: 1.3rem;
}
.listInner dt{
	margin-bottom: 22px;
}
.listInner dd ul li,.dropWrap li{
	line-height: 2.1;
}
.dropWrap li{
	position: relative;
	margin-left: 27px;
}
.dropWrap li::after{
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 9px;
	left: -18px;
	border-style: solid;
	border-width: 2px 0px 2px 4px;
	border-color: transparent transparent transparent #ffffff ;
}
.dropWrap li::before{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 7px;
	left:-16px;
	border-style: solid;
	border-width: 4px 0 4px 8px;
	border-color: transparent transparent transparent #30aefe;
}
#footerUnderList{
	margin-top: 23px;
	text-align: center;
	font-size: 1.2rem;
}
#lastList{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 12px;
}
#lastList li:nth-of-type(n+2){
	position: relative;
	margin-left: 36px;
}
#lastList li:nth-of-type(n+2)::after{
	position: absolute;
	content: "";
	display: block;
	background-color: #acaeb4;
	width: 2px;
	height: 13px;
	top: 4px;
	left: -17px;
}