@charset "utf-8";
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.7; /* 適時変更 */
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; /* 適時変更 */
  font-size: 1.6rem; /* 適時変更 */
  color: #333; /* 適時変更 */
  position: relative;
  width: 780px;
  margin: 0 auto;
}
img {
  vertical-align: bottom;
}
/*--------------------

all

---------------------*/
header {
  padding: 20px 35px;
  background-color: #1b4234;
  font-size: 24px;
  color: #fff;
}
main {
  margin: 40px 20px;
}
li {
  list-style: disc;
}
a {
  color: #333;
  text-decoration: ;
}
a:hover {
  opacity: 0.7;
}
