@charset "utf-8";
* {
	box-sizing: border-box;
}
html {
	-webkit-text-size-adjust: 100%; /* iPhoneでランドスケープにした時に文字サイズ自動変更禁止 */
	font-size: 62.5%;
}
body {
	line-height: 1.5; /* 適時変更 */
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic", sans-serif; /* 適時変更 */
	font-size: 1.3rem; /* 適時変更 */
	color: #333333; /* 適時変更 */
	min-width: 1000px;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	-ms-interpolation-mode: bicubic; /* IEで画像をリサイズした時にギザギザになるのを防止 */
}
.spOnly { display: none; }
/*----------
all
-------------*/
.headerWrap,main,.footerWrap{
	width: 1000px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: #0050a3;
}
.bigWrap{
	overflow: hidden;
}
/*-----------
header
-----------*/
header{
	background-color: #283c64;
	padding-top: 17px;
}
.headTopWrap{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
#logo{
	margin-left: 22px;
}
.spBtn{
	display: none;
}
.gNavPC{
	display: -webkit-flex;
	display: flex;
}
.gNavPC li{
	width: 166px;
	text-align: center;
	position: relative;
	margin-right: 1px;
}
.gNavPC li::after{
	position: absolute;
	content: "";
	display: block;
	background-color: #697793;
	width: 1px;
	height: 10px;
	bottom: 0px;
	left: -1px;
}
.gNavPC li:nth-last-of-type(1){
	position: relative;
}
.gNavPC li:nth-last-of-type(1)::before{
	position: absolute;
	content: "";
	display: block;
	background-color: #697793;
	width: 1px;
	height: 10px;
	bottom: 0px;
	right: -1px;
}
.gNavPC li a,.current01{
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 0 12px;
	display: block;
}
.gNavPC li a{
	color: #ffffff;
}
/*-----------
main
-----------*/
/*パンくず*/
ol {
	display: -webkit-flex;
	display: flex;
	margin: 16px 0;
}
ol li:nth-of-type(n+2){
	margin-left: 26px;
	position: relative;
}
ol li:nth-of-type(n+2)::after,ol li:nth-of-type(n+2)::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 1px solid #5a5a5a;
	border-right: 1px solid #5a5a5a;
	transform:rotateZ(45deg);
	width: 4px;
	height: 4px;
}
ol li:nth-of-type(n+2)::after{
	top: 6px;
	left: -20px;
}
ol li:nth-of-type(n+2)::before{
	top: 6px;
	left: -16px;
}
ol li a{
	text-decoration: none;
}
/*右メイン*/
.mainWrap{
	width: 760px;
	float: right;
	margin-bottom: 138px;
}
h1{
	font-size: 2.4rem;
	background-color: #f3f3f3;
	padding: 14px 23px 10px;
	margin-bottom: 28px;
}
/*ニュースの見出し*/
.newsHeading{
	display: -webkit-flex;
	display: flex;
}
.newsHeading li{
	width: 230px;
	text-align: center;
	border: 1px solid #dddddd;
	border-bottom: none;
}
.newsHeading li{
	position: relative;
}
/*通常タブ*/
.newsHeading li{
	display: block;
	font-weight: bold;
	font-size: 1.4rem;
	padding: 15px;
	color: #333333;
}
.newsHeading li::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 2px solid #83868d;
	border-right: 2px solid #83868d;
	transform:rotateZ(45deg);
	width: 8px;
	height: 8px;
	top: 18px;
	left: 4px;
}
/*アクティブタブ*/
.newsHeading li.ac{
	position: relative;
	color: #ffffff;
	background-color: #283c64;
	border: none;
}
.newsHeading li.ac::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	transform:rotateZ(135deg);
	width: 8px;
	height: 8px;
	top: 20px;
	left: 8px;
}
.newsList{
	display: none;
}
.newsList.show{
	display: block;
}
/*ニュース本体*/
.newsWrap{
	position: relative;
}
.newsWrap::before{
	position: absolute;
	content: "";
	display: block;
	background-color: #283c64;
	width: 100%;
	height: 3px;
	top: -23px;
	left: 0px;
}
.newsList li{
	margin-top: 20px;
}
.newsInner{
	display: -webkit-flex;
	display: flex;
}
.newsImg{
	width: 70px;
	height: 70px;
}
.newsText{
	margin:12px 16px;
}
.newsText dt{
	margin-bottom: 8px;
	color: #333333;
}
.prerelease,.topics{
	position: relative;
}
.newsText dd{
	margin-left: 20px;
}
.nomal,.blank,.pdfLink{
	position: relative;
}
.nomal::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 2px solid #83868d;
	border-right: 2px solid #83868d;
	transform:rotateZ(45deg);
	width: 8px;
	height: 8px;
	top: 42px;
	right: 664px;
}
.blank::before{
	position: absolute;
	content: "";
	display: block;
	background: url("../images/index_ic04.png") no-repeat 0 0/13px 13px;
	top:42px;
	right: 664px;
	width: 13px;
	height: 13px;
}
.pdfLink::before{
	position: absolute;
	content: "";
	display: block;
	background: url("../images/index_ic05.png") no-repeat 0 0/13px 13px;
	top:38px;
	right: 663px;
	width: 13px;
	height: 13px;
}
.prerelease::after{
	position: absolute;
	content: "";
	display: block;
	background: url("../images/index_tx01.png") no-repeat 0 0 /90px 18px;
	bottom: 2px;
	left:110px;
	width: 90px;
	height: 18px;
}
.topics::after{
	position: absolute;
	content: "";
	display: block;
	background: url("../images/index_tx02.png") no-repeat 0 0 /70px 18px;
	bottom: 0px;
	left: 110px;
	width: 70px;
	height: 18px;
}
/*左カラム*/
.sideNav{
	width: 200px;
}
.sideNav h2{
	color: #ffffff;
	font-size: 1.7rem;
	font-weight: bold;
	background-color: #283c64;
	padding: 20px 30px 15px;
	position: relative;
}
.sideNav h2::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	transform:rotateZ(45deg);
	width: 8px;
	height: 8px;
	top: 27px;
	left: 7px;
}
.sideNavList li{
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.sideNavList li a{
	color: #333333;
	display: block;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 15px 30px 12px;
}
.sideNavList li::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 2px solid #83868d;
	border-right: 2px solid #83868d;
	transform:rotateZ(45deg);
	width: 8px;
	height: 8px;
	top: 20px;
	left: 7px;
}
/*clearFIx*/
main{
  content: "";
  display: block;
  clear: both;
}
/*-----------
footer
-----------*/
.pageTop{
	position: fixed;
	width: 60px;
	height: 60px;
	background-color: #9fa0a2;
	bottom: 0px;
	right: 0px;
}
.pageTop a{
	position: relative;
}
.pageTop a::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	transform:rotateZ(-45deg);
	width: 20px;
	height: 20px;
	top: 25px;
	left: 20px;
}
footer{
	position: relative;
	clear: both;
	background-color: #0f1217;
	padding: 40px 0
}
.footerWrap{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.footerList{
	display: -webkit-flex;
	display: flex;
}
.footerList li:nth-of-type(n+2){
	margin-left: 40px;
	position: relative;
}
.footerList li:nth-of-type(n+2)::before{
	position: absolute;
	content: "";
	display: block;
	background-color: #3f4145;
	width: 1px;
	height: 100%;
	top: 0px;
	left: -20px;
}
.footerList li a{
	color: #ffffff;
}
.copyRight{
	color: #ffffff;
}
/* 751px～ For PC
================================ */

@media screen and (min-width: 751px) {
  .spOnly { display: none; }
  .pcOnly { display: block; }
/*-----------hover---------*/
	.current01,.gNavPC li a:hover{
	color: #333333;
	background-color: #ffffff;
	border-top: 2px solid #ff0000;
	padding: 14px 0 4px;
}
.newsHeading li a:hover{
	background-color: #f3f6f8;
}
.newsList li a:hover > .newsInner .newsText dd{
	text-decoration: underline;
}
h2:hover,.footerList li a:hover{
	text-decoration: underline;
}
.sideNavList li a:hover{
	background-color: #f3f6f8;
}
/*--------------------*/
}
/* ～750px For SP
================================ */

@media screen and (max-width: 750px) {
  .spOnly { display: block; }
  .pcOnly { display: none; }
	/*all*/
	body{
		min-width: 100%;
	}
.headerWrap,main,.footerWrap{
	width: 100%;
	margin: 0 auto;
}
/*-----------
header
-----------*/
#window{
	display: none;
}
header{
	background-color: #283c64;
	padding-top: 0px;
}
.headTopWrap{
	margin-bottom: 0px;
}
#logo{
	width: 120px;
	margin-left: 10px;
	padding: 10px 0;
}
.gNavPC{
	display: none;
}
.spBtn{
	display: block;
}
.spBtn ul{
	display: -webkit-flex;
	display: flex;
}
.spBtn ul li{
	width: 45px;
	height: 45px;
}
	.spBtn ul li:nth-of-type(n+2){
		margin-left: 1px;
	}
/*-----------
main
-----------*/
ol{
	display: none;
}
/*右メイン*/
.mainWrap{
	width: 100%;
	float:none;
	margin-bottom: 20px;
}
h1{
	font-size: 1.6rem;
	padding: 7px 10px 5px;
	margin-bottom: 15px;
}
/*ニュースの見出したち*/
.newsWrap::before{
	height:2px;
	top: -13px;
}
.newsHeading{
	width: 100%;
	margin-left: 2%;
}
.newsHeading li{
	font-size: 1.3rem;
	width: 32%;
	display: -webkit-flex;
	display: flex;
	padding: 6px;
	align-items: center;
	justify-content: center;
}
.newsHeading li a,.current02{
	font-size: 1.2rem;
	padding: 5px;
	display: block;
}
.newsHeading li::before{
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 17px;
	left: 4px;
	width: 11px;
	height: 11px;
}
	.newsHeading li.ac::before{
		width: 11px;
		height: 11px;
		transform: rotateZ(45deg);
	}
.current02{
	position: relative;
	color: #ffffff;
	background-color: #283c64;
}
.current02::after{
	top: 17px;
}
/*ニュース本体*/
.newsList li{
	margin-top: 11px;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
}
.newsInner{
	display: -webkit-flex;
	display: flex;
	margin: 0 10px;
}
.newsImg{
	width: 53px;
	margin-bottom: -19px;
}
.newsText{
	width: 80%;
	margin:0px 16px;
}
.newsText dt{
	margin: 6px 0;
	color: #333333;
}
.prerelease,.topics{
	position: relative;
}
.newsText dd{
	margin-left: 0px;
}
.nomal::before{
	top: 50%;
	right: 0px;
	border-top: 1px solid #83868d;
	border-right: 1px solid #83868d;
}
	.blank::before,.pdfLink::before{
		top: 50%;
		right: 0px;
	}
.prerelease::after{
	background: url("../images/index_tx01.png") no-repeat 0 0 /65px 14px;
	width: 90px;
	height: 18px;
}
.topics::after{
	background: url("../images/index_tx02.png") no-repeat 0 0 /50px 14px;
	width: 70px;
	height: 18px;
}
/*左カラム*/
.sideNav{
	width: 100%;
}
.sideNav h2{
	font-size: 1.4rem;
	padding: 15px 25px 15px;
}
.sideNav h2::before{
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	top: 21px;
}
.sideNavList li{
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.sideNavList li a{
	font-weight: normal;
	font-size: 1.2rem;
	padding: 15px 25px 12px;
}
.sideNavList li::before{
	border-top: 1px solid #83868d;
	border-right: 1px solid #83868d;
	top: 18px;
}
/*gNavSP*/
	.gNavSP{
		display: block;
		margin: 10px 0 40px;
	}
	.gNavList dt{
		padding: 15px 10px;
		background-color: #e6e6e6;
		border-bottom: 1px solid #cccccc;
		position: relative;
	}
	.gNavList dt:nth-of-type(1){
		border-top: 1px solid #cccccc;
	}
	.gNavList dt a{
		font-size: 1.4rem;
		font-weight: bold;
		color: #333333;
	}
	.gNavList dt::after{
		position: absolute;
		content: "";
		display: block;
		width: 3px;
		height: 13px;
		-webkit-transform:rotate(90deg);
		transform:rotate(90deg);
		background-color: #82858c;
		bottom: 20px;
		right: 20px;
	}
	.gNavList dt.ac::before{
		display: none;
	}
	.gNavList dt::before{
		position: absolute;
		content: "";
		display: block;
		width: 3px;
		height: 13px;
		background-color: #82858c;
		bottom: 20px;
		right: 20px;
	}
	.gNavList dd{
		display: none;
	}
	.gNavList dd ul li{
		position: relative;
		padding: 12px 25px;
		font-size: 1.2rem;
	}
	.gNavList dd ul li:nth-of-type(n+2){
		border-top: 1px solid #cccccc;
	}
	.gNavList dd ul li::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 1px solid #83868d;
	border-right: 1px solid #83868d;
	transform:rotateZ(45deg);
	width: 8px;
	height: 8px;
	top: 15px;
	left: 7px;
}
/*-----------
footer
-----------*/
/*pageTop*/
.pageTop{
	width: 40px;
	height: 40px;
	background-color: #9fa0a2;
	bottom: -40px;
	right: 0px;
	position: fixed;
}
.pageTop a{
	position: relative;
}
.pageTop a::before{
	position: absolute;
	content: "";
	display: block;
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	transform:rotateZ(-45deg);
	width: 13px;
	height: 13px;
	top: 18px;
	left: 13px;
}
/*footerList*/
	footer{
	padding: 20px 0
}
.footerWrap{
	display: block;
}
.footerList{
	flex-wrap: wrap;
	margin: 0 10px;
}
.footerList li{
	width:50%;
	margin-left: 0px;
	margin-bottom: 13px;
}
.footerList li a{
	font-size: 1.2rem;
}
.footerList li:nth-of-type(n+2){
	margin-left: 0px;
	position: relative;
}
.footerList li:nth-of-type(n+2)::before{
	position: absolute;
	content: "";
	display: none;
}
.copyRight{
	font-size: 0.9rem;
	text-align: center;
}
}